/* Tag selectors */
body {
 background-color: #EAF6F6;
}
hr{
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   height: 0px;
   width: 5%; <!-- use percentages for display flex so the value changes to stay the same for each display-->
}
h1{
  color: #66BFBF
}
h2{
  color: #66BFBF
}
/*
img:hover{
  background-color: gold;
}
*/
/* Class selectors
This is a class selector
.bacon{
  color: #66BFBF
}
*/

/*ID selectors*/
#heading{
  color: #66BFBF
}
